<%= form_with(model: bus, class: "needs-validation", novalidate: true) do |form| %>
  <% if bus.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
        <% bus.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <% if bus.new_record? %> 
    <div class="mb-3">
      <%= form.label :total_seats, class: "form-label" %>
      <%= form.number_field :total_seats, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :source, class: "form-label" %>
    <%= form.text_field :source, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :destination, class: "form-label" %>
    <%= form.text_field :destination, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :arrival_time, class: "form-label" %>
    <%= form.time_field :arrival_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :departure_time, class: "form-label" %>
    <%= form.time_field :departure_time, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :registration_no, class: "form-label" %>
    <%= form.text_field :registration_no, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>