<div id="<%= dom_id bus %>">
  <p>
    <strong>Title:</strong>
    <%= bus.title %>
  </p>

  <p>
    <strong>Total seats:</strong>
    <%= bus.total_seats %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= bus.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= bus.destination %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= bus.arrival_time %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= bus.departure_time %>
  </p>

  <p>
    <strong>Registration no:</strong>
    <%= bus.registration_no %>
  </p>
</div>
