<!DOCTYPE html>
<html>
  <head>
    <title>BusReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
              <%= link_to "HOME", root_path %>
              <a class="navbar-brand" href="#">Bus Reservations</a>
              <%= get_user_email %>
              <%= get_sign_in_or_sign_out_link %>
          </div>
      </nav>

  <body>
      <nav class="navbar navbar-expand-lg  bg-light fixed-top">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <%= link_to "HOME", root_path, class:"nav-link" %>
            </li>
            <li class="nav-item ">
              <p class:"nav-link"> <%= get_user_email%> </p>
            </li>
            <li class="nav-item ">
              <%= get_sign_in_or_sign_out_link %>
            </li>
          </ul>
        </div>
        <%= form_with(url: buses_path, method: "get", local: true) do |form| %>
          <%= form.text_field :search, placeholder: "Enter route or title" %>
          <%= form.submit "Search" %>
        <% end %>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
